
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} :root {
    --mainWhite: #fff;
    --mainBlack: #222;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
} body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: core-sans-c-regular, Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
  }
.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.center-container {
  max-Width: 90%;
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-logo {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.center-text {
    font-family: core-sans-c-regular;
    color: var(--mainWhite);
    font-size: x-large;
    text-align: center;
}
.whatsapp-float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.my-whatsapp-float{
	margin-top:16px;
}
