
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: core-sans-c-regular, Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
  }
.layer {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 91vh;
}
.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 91vh;
}
.left-container {
  width: 52%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-text-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 290px;
}
.right-container {
  background: url("../res/images/foto-desk-1.jpg") center/cover no-repeat;
  width: 58%;
  min-height: 100%;
  border-bottom-left-radius: 20pt;
  overflow: hidden;
  height: auto;
  display: flex;
  justify-content: center;
}
.home-logo {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.home-l-text {
  font-family: core-sans-c-medium;
  color: rgb(32, 32, 32);
  font-size: xxx-large;
  text-align: left;
}
.home-l-text-stroke {
  font-family: core-sans-c-regular;
  color: rgb(32, 32, 32);
  font-size: xxx-large;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(32, 32, 32);
  text-align: left;
}
.home-l-catchfrase {
  font-family: core-sans-c-regular;
  color: var(--blackBlue);
  font-size: large;
  text-align: left;
}
.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.my-whatsapp-float{
  margin-top: 16px;
}
.find-your-space-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.upper-img {
  background: url("../res/images/foto-desk-2.jpg") center/cover no-repeat;
  width: 98%;
  min-height: 50%;
  margin-top: 2rem;
  border-radius: 15px;
  overflow: hidden;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.upper-img-text {
  color: white;
  margin-left: 120px;
  font-size: xxx-large;
  margin-bottom: 45px;
  font-family: core-sans-c-medium;
}
.find-your-space-info-container {
  width: 98%;
  height: 50%;
  max-height: 200px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.find-your-space-text {
  font-family: core-sans-c-medium;
  margin-left: 120px;
  font-size: larger;
  text-align: left;
  color: #0f0f3d;
}
.offer-your-space-info-container {
  width: 98%;
  height: 50%;
  max-height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
}
.find-space-button {
  margin-left: 120px;
  margin-top: 45px;
}
.offer-img {
  background: url("../res/images/offi3.jpg") center/cover no-repeat;
  width: 98%;
  min-height: 50%;
  margin-top: 2rem;
  border-radius: 15px;
  overflow: hidden;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.offer-img-text {
  color: white;
  margin-right: 120px;
  font-size: xxx-large;
  margin-bottom: 45px;
  font-family: core-sans-c-medium;
}
.offer-your-space-text {
  font-family: core-sans-c-medium;
  margin-right: 120px;
  font-size: larger;
  text-align: right;
  color: #0f0f3d;
}
.offer-space-button {
  margin-right: 120px;
  margin-top: 45px;
}
.footer-container {
  height: 15vh;
  width: 100%;
  background-color: var(--blackBlue);
}
.orange-block {
  width: 120px;
  height: 58%;
  max-height: 434px;
  background-color: #fb903e;
  position: absolute;
  left: 0px;
  margin-top: 220px;
  border-radius: 1px;
}
.blue-block {
  height: 56%;
  max-height: 434px;
  width: 120px;
  background-color: #1e6097;
  position: absolute;
  right: 0px;
  margin-top: 215px;
  border-radius: 1px;
}

@media screen and (max-width: 906px) {
  .layer{
    background-color: rgba(0, 0, 0, 0.5);
  }
  .left-container{
    width: 95%;
  }
  .right-container {
    display: none;
  }
  .home-container  {
    background: url("../res/images/foto-desk-1.jpg") center/cover no-repeat;
  }
  .home-text-container {
    align-items: center;
  }
  .home-l-text {
    color: var(--mainWhite);
    text-align: center;
  }
  .home-l-text-stroke {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
    font-size: xxx--large;
    text-align: center;
    color: var(--mainWhite);
  }
  .home-l-catchfrase {
    color: var(--mainWhite);
    text-align: center;
  }
  .upper-img {
    justify-content: center;
    min-height: 30%;
  }
  .upper-img-text {
    margin-left: 0;
    text-align: center;
    margin-bottom: 35px;
  }
  .find-your-space-text {
    font-size: medium;
    text-align: left;
    margin-left: 0;
  }
  .find-your-space-info-container {
    margin-bottom: 100px;
    width: 95%;
  }
  .orange-block {
    display: none;
  }
  .blue-block {
    display: none;
  }
  .find-space-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-top: 20px
  }
  .offer-img {
    justify-content: center;
    min-height: 30%;
  }
  .offer-img-text {
    margin-right: 0;
    text-align: center;
    margin-bottom: 35px;
  }
  .offer-your-space-text {
    font-size: medium;
    text-align: left;
    margin-right: 0;
  }
  .offer-your-space-info-container {
    margin-bottom: 100px;
    width: 95%;
  }
  .offer-space-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-top: 20px;
    width: 100%;
  }
}