.btn {
    font-family: sans-serif;
    font-weight: 400;
    cursor: pointer;
}
/* Button Colors and Styles */

/* Main Button */ 
.btn--main {
    background: var(--mainOrange);
    color: #ccc;
    border: 1px solid var(--mainOrange);
    border-radius: 10px;
    transition: .6s;
    overflow: hidden;
    align-self: end;
    margin-top: 4px;
}
.btn--main a {
    color: #ccc;
    transition: .6s;
    overflow: hidden;
    align-self: end;
    margin-top: 4px;
    text-decoration: none;
}
.btn--main:focus {
    outline: none;
}
.btn--main:before {
    content: "";
    display: block;
    background: transparent;
    opacity: .5s;
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    filter: blur(30px);
    transform: translate(-130px) skewX(-15deg);
}
.btn--main:after {
    content: "";
    display: block;
    background: var(--mainOrange);
    opacity: 0;
    width: 30px;
    height: 100%;
    left: 0;
    top: 0;
    filter: blur(30px);
    transform: translate(-100px) skewX(-15deg);
}
.btn--main:hover {
    background: transparent;

}
.btn--main:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}
.btn--main:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: .1;
    transition: .7s;
}
/* End Main Button */ 

/* Secondary Button */ 

.btn--secondary {
    background: var(--mainBlue);
    color: #ccc;
    border: 1px solid var(--mainBlue);
    border-radius: 10px;
    transition: .6s;
    overflow: hidden;
    align-self: end;
    margin-top: 4px;
}
.btn--secondary a {
    color: #ccc;
    transition: .6s;
    overflow: hidden;
    align-self: end;
    margin-top: 4px;
    text-decoration: none;
}
.btn--secondary:focus {
    outline: none;
}
.btn--secondary:before {
    content: "";
    display: block;
    background: transparent;
    opacity: .5s;
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    filter: blur(30px);
    transform: translate(-130px) skewX(-15deg);
}
.btn--secondary:after {
    content: "";
    display: block;
    background: var(--mainBlue);
    opacity: 0;
    width: 30px;
    height: 100%;
    left: 0;
    top: 0;
    filter: blur(30px);
    transform: translate(-100px) skewX(-15deg);
}
.btn--secondary:hover {
    background: transparent;

}
.btn--secondary:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}
.btn--secondary:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: .1;
    transition: .7s;
}

/* End Secondary Button */ 

/* Thrid Button */ 
.btn--third {
    background: var(--blackBlue);
    color: #ccc;
    border: 1px solid var(--blackBlue);
    border-radius: 10px;
    transition: .6s;
    overflow: hidden;
    align-self: end;
    margin-top: 4px;
}
.btn--third a {
    color: #ccc;
    transition: .6s;
    overflow: hidden;
    align-self: end;
    margin-top: 4px;
    text-decoration: none;
}
.btn--third:focus {
    outline: none;
}
.btn--third:before {
    content: "";
    display: block;
    background: transparent;
    opacity: .5s;
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    filter: blur(30px);
    transform: translate(-130px) skewX(-15deg);
}
.btn--third:after {
    content: "";
    display: block;
    background: var(--blackBlue);
    opacity: 0;
    width: 30px;
    height: 100%;
    left: 0;
    top: 0;
    filter: blur(30px);
    transform: translate(-100px) skewX(-15deg);
}
.btn--third:hover {
    background: transparent;

}
.btn--third:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}
.btn--third:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: .1;
    transition: .7s;
}
/* End Third Button */ 

.btn--primary--solid {
    border-radius: 10px;
    color: var(--mainWhite);
    border: none;
    transition: transform 0.3s ease;
}
.btn--primary--solid:hover {
    transform: translateY(-3px);
}
.btn--primary--outline {
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid var(--mainOrange);
    color: var(--mainOrange);
    transition: transform 0.3s ease;
}

.btn--primary--outline:hover {
    
    color: var(--black);
    background: var(--mainOrange);
   /*transform: translateY(-3px);*/
}

/* Button Size */
.btn--medium {
    padding: 10px 20px;
    font-size: 18px;

}
.btn--small {
    padding: 15px 30px;
    font-size: 20px;
    
}