*
.navbar {
  height: var(--nav-size);
  background-color: var(--blackBlue);
  padding: 0 1rem;
  display: flex;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
}
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  width: 70%;

}
.nav-logo {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-logo-img {
  height: calc(var(--nav-size)*0.65);
  width: auto;
}
.nav-item {
  width: calc(var(--nav-size)*0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
